<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
      
      <head>
        <title>Головна</title>
    </head>
    <body>
    	<div layout:fragment="content">
            <div class="banner" id="banner">
                <div class="bg-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner-text">
                                    <h2>Ласкаво просимо до</h2>
                                    <h2><span>Сайту знайомств</span></h2>
                                    <p>сайт найкрасивіших людей в світі</p>
                                    <a href="#" class="banner-button">Learn More</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="feature-box media">
                                <div class="icon-box text-center pull-left media-object"> <i class="icon-bulb"></i> </div>
                                <div class="feature-text media-body">
                                    <h4>Елітний супровід</h4>
                                    <p class="feature-detail">Вродливі та веселі дівчата з супроводу, забезпечать гарний настрій на час зустрічі</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="feature-box media pull-left">
                                <div class="icon-box text-center pull-left media-object"> <i class="icon-eye"></i> </div>
                                <div class="feature-text media-body">
                                    <h4>Великий вибір</h4>
                                    <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="feature-box media pull-left">
                                <div class="icon-box text-center pull-left media-object"> <i class="icon-heart"></i> </div>
                                <div class="feature-text media-body">
                                    <h4>Знайти єдину</h4>
                                    <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio -->
            <div id="work" class="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 text-center text">
                            <h3>Our Work</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive"  th:src="@{/assets/template/images/portfolio-1.jpg}"> </a> </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" th:src="@{/assets/template/images/portfolio-2.jpg}"> </a> </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" th:src="@{/assets/template/images/portfolio-3.jpg}"> </a> </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" th:src="@{/assets/template/images/portfolio-4.jpg}"> </a> </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <a href="#" class="view-more">View More Items</a> </div>
                        <!-- /.col-lg-10 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <div class="testimonials" id="testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>Our Testimonials</h3>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                            <div id="owl-demo" class="owl-carousel owl-theme test">
                                <div class="item">
                                    <p><sup><i class="fa fa-quote-left"></i></sup>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui ante, ornare eget est in, ultricies rutrum elit.<sup><i class="fa fa-quote-right"></i></sup></p>
                                    <div class="test-img"> <img th:src="@{/assets/template/images/team-img-01.jpg}"/>
                                        <p><strong>Yogesh Singh</strong></p>
                                    </div>
                                </div>
                                <div class="item">
                                    <p><sup><i class="fa fa-quote-left"></i></sup>Proin tincidunt, orci vel volutpat blandit, purus turpis faucibus massa, sit amet posuere nunc diam in ex.<sup><i class="fa fa-quote-right"></i></sup></p>
                                    <div class="test-img"> <img th:src="@{/assets/template/images/team-img-02.jpg}"/>
                                        <p><strong>Brad Will</strong></p>
                                    </div>
                                </div>
                                <div class="item">
                                    <p><sup><i class="fa fa-quote-left"></i></sup>Morbi velit mauris, hendrerit in convallis vel, laoreet et orci. Integer semper, est vel congue suscipit, nisl nibh convallis lorem, sit amet faucibus purus lacus eu nulla. Sed nec blandit ante, sed semper tellus.<sup><i class="fa fa-quote-right"></i></sup></p>
                                    <div class="test-img"> <img th:src="@{/assets/template/images/team-img-03.jpg}"/>
                                        <p><strong>John Deo</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call-to-action">
                <div class="call-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-10">
                                <div class="subscribe-text">
                                    <h3>Subscribe For Updates</h3>
                                    <p>Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center"> <a href="#" class="subscribe-button">Subscribe Now</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>About Us</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="about-text">
                                <p>Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque. </p>
                                <p>Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6 col-sm-6 col-xs-6 block">
                                <div class="counter-item text-center">
                                    <h5>Our Clients</h5>
                                    <div class="timer" data-from="0" data-to="55" data-speed="5000" data-refresh-interval="50"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="counter-item text-center">
                                    <h5>Projects completed</h5>
                                    <div class="timer" data-from="0" data-to="88" data-speed="5000" data-refresh-interval="50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>Contact Us</h3>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
                            <div class="contact-form">
                                <form role="form">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Message" rows="6"></textarea>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="contact-button">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
                            <div class="address">
                                <h4>Address</h4>
                                <p>123, This Appartment,<br>
                                    Near Ocean Street<br>
                                    New York<br>
                                <div class="email"><i class="fa fa-at"></i>hello@w3template.com<br>
                                    <i class="fa fa-mobile"></i>123 456 789</div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"> <span class="copyright">Copyright &copy; Ethereal 2018</span> </div>
                        <div class="col-md-4">
                            <ul class="list-inline social-buttons">
                                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-inline quicklinks">

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

    	</div>
    	
    </body>
    
</html>